* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 90px;
    gap: 5px;
    background-color: rgb(32, 32, 31);
    padding: 15px;

}

.header_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header_div1 h1 {
    font-size: 26px;
    font-weight: 600;
    color: rgb(248, 247, 247);
}

.header_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header_div2 a {

    font-size: 20px;
    font-weight: 500;
    border-radius: 3px;
    color: white;

}


.main {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 100px;

}


.main_box1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 25px;
}

.main_box1 h1 {

    padding: 5px 40px;
    font-size: 26px;
    font-weight: 700;

    border-radius: 3px;

}

.main_box1 p {

    font-size: 22px;
    font-weight: 600;
}



.main_box2 {

    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    background-color: #eeeeee;
    color: rgb(16, 1, 1);
    border-radius: 3px;
    gap: 25px;
    height: 100%;

    padding: 40px;
    width: 25%;

}


.main_box2 input {
    border-radius: 3px;
    height: 30px;

}

.main_box2 button {
    border-radius: 3px;
    padding: 4px;
}

.divo {}

.uli {
    display: block;
    margin: 0px 20px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #333;
    height: 90px;
}


.footer p {
    color: #fff;
    font-size: 18px;
}